.class1 {
	background-color: hotpink;
	color: black;
}

#id2{
	font-size: 24px;
	font-family: "verdana", "Deja-vu sans","sans-serif;";
}

#id1{
	color: blue;
	font-size: 36px;
}
#id3{
	background-color: lightgreen;
	font-size: 24px;
	font-weight: bold;
}