.item {
	height: 100px;
	width: 100px;
	background-color: green;
	border: blue 3px solid;
	text-align: center;
	margin: 10px;
	color: white;

}

.flex-container {
	border: red 3px solid;
	height: 400px;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}