#button_one{
	background-color: black;
	color: white;
}

#button_two{
	background-color: yellow;
}

.button{
    padding: 15px 30px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    font-family: Arial, "sans-serif", helvetica, "Times New Roman"
}