@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  background-color: #15394f;

}

img {
  display: flex;
  width: 600px;
  justify-content: center;
}

button {
  border-radius: 8px;
  padding: 10px;
  margin-top: 15px;
  background-color: transparent;
  border: black;
  font-family: "Times New Roman";
  font-weight: bold;
  color: white;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.left-links, .right-links{
  display: flex;
  flex-direction: row;
  gap: 25px;
  list-style-type: none;
  padding: 0px;
}

a{
  text-decoration: none;
  color: black;
}

.header, .footer{
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: #2178ad ;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  position: relative;
  text-align: center;
}

.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  background-color: transparent;
}

.buttons:hover{
  transform: scale(1.5);
  transition: 0.3s;
}

