header{
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: #0066cc;
  text-decoration: none;
  border: 2px solid #0066cc;
  border-radius: 5px;
  transition: all 0.3s;
  margin: 50px;
  font-size: auto;
  display: flex;
  justify-content: center;
  background-color: #34566b;
  color: white;
}

.title{
	display: flex;
	justify-content: center;
}

.links{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	list-style-type: none;
	color: #6ec1f5;
	text-decoration: none;
}

body{
	background-color: #dfe8ed;
}

.box{
  display: flex;
  flex-direction: row;
  flex-shrink: 13;
  justify-content: space-around;
  width: 150px;
  height: 200px;
}

.box2{
  display: flex;
  flex-direction: row;
  flex-shrink: 13;
  justify-content: space-around;
  width: 200px;
  height: 160px;
}


p{
  width: 400px;
}

