#Ingredients {
	color: rgb(186, 15, 15);
}

.header{
	background-color: blue;
	color: red;
 }

body {
	background-image: url("https://preview.redd.it/art-drifting-dragons-kuutei-dragons-recommending-this-v0-5xb1dxecywu81.jpg?width=640&crop=smart&auto=webp&s=ae2826bd4cedbe53685af88e68260cfca00c5e04");
	background-position: center;
	background-repeat: no-repeat;

}
